
html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
main {
    background-color: #b6b6b6;
}
#main-doc {
    background-color: #b6b6b6;
    position: fixed;
    top: 95px;
    left: 0;
    bottom: 0;
    overflow-y: scroll;
    overflow-x: hidden;
    height: 87%;
}
 h1 {
    position: fixed;
    padding: 30px 26px;
    font-weight: 400;
    background-color: #b6b6b6;
    top: 0;
    left: 0;
    z-index: 1;
}
.main-section {
    border: 1px solid black;
    padding: 20px 35px;
    width: 101%;
    z-index: 1;
}
.main-section #navbar a {
    text-decoration: none;
    color: rgb(92, 86, 86);
}
#navbar .nav-link:hover {
    color: black;
}
#content {
    margin-left: 291px;
    background-color: #b6b6b6;
    bottom: 0;
    height: 100%;
}
#content h2 {
    font-weight: 900;
    padding: 20px 35px;
}
.descript {
   line-height: 1.6;
}
.descript p {
    padding: 10px 60px;
}
.con {
    margin: -3px 12%;
    line-height: 1.6
}
.con ul li {
    padding: 10px;
}
.code {
    background-color: rgb(201, 186, 186);
    border-radius: 5px;
    width: 85%;
    margin: auto;
    padding: 15px;
}
.con-2 {
    margin: -15px 60px;
}
footer {
    margin-top: 10%;
    background-color: rgb(0, 0, 0, 0.25);
}
footer p {
    padding: 30px 30px;
    color: black;
    font-weight: 900;
    
}